
<% if !@parties.empty? %>

  <div class='old-parties-container'>
  <hr class="queue-border"></hr>
    <span >...or shake the dust off of one of these old parties:</span>
    <ul>
      <% @parties.each do |party| %>
        <li class="old-parties"><%= link_to party.password, party_path(party.url), action: 'get' %></li>
      <% end %>
    </ul>
  </div>
<% end %>