
<% if !@parties.empty? %>
  <div class='old-parties-container'>
    <span id="old-parties">...or shake the dust off of one of these old parties:</span>
    <ul id="old-parties-list">
      <% @parties.each do |party| %>
        <li class="old-parties"><%= link_to party.password, party_path(party.url), action: 'get' %></li>
      <% end %>
    </ul>
  </div>
<% end %>