<div class="hover panel">
    <div class="front">
            <button class='rotate' style="width: 200px"> Rotate </button>
        <div class="pad">
        </div>
    </div>
    <div class="back">
        <div class="pad">
            <form action="post">
                First name: <input type="text" name="firstname"><br>
                Last name: <input type="text" name="lastname"><br>
            </form>
        </div>
    </div>
</div>