<h3> search for miley </h3>
<%= form_tag search_path do %>
  <%= label_tag(:song, "Search for:") %>
  <%= text_field_tag(:song) %>
  <%= submit_tag("Search") %>
<% end %>
<h3>showing all the parties in da house</h3>

