<div class="container">
  <div class="home-buttons-container">
    <%= button_to 'Create Party!', parties_path, class: 'pure-button button-large new-party', method: :post %>
  </div>
    <%= render 'parties_list' %>
</div>