<div class='container'>

  <%= @party.password %>

  <% if current_user && @party.user_id == current_user.id %>
    <%= render 'bottom_player' %>
  <% end %>

  <div class='queue-container'>
    <table class='queue-table'></table>
  </div>

  <div class='search-container'>
    <input class='search-input-term'>
    <button class='search-submit'></button>
    <div class='results-container'></div>
  </div>
</div>

