<div class='container'>

  <div class="party-name">
    <p><%= @party.password %><p>
  </div>

  <% if current_user && @party.user_id == current_user.id %>
    <%= render 'home/player' %>
    <% else %>
    <div class='queue-container'>
      <table class='queue-table'></table>
    </div>
  <% end %>
  <%= render 'home/search_container' %>

<!--    -->

<!--   <div class='search-container'>
    <input class='search-input-term'>
    <button class='search-submit'></button>
    <table class='results-table'></table>
  </div> -->
  </div>
</div>

