<div class='container'>

  <div class="party-name">
    <p><%= @party.password %><p>
  </div>

  <% if current_user && @party.user_id == current_user.id %>
    <%= render 'home/player' %>
    <% else %>
    <div class='queue-container'>
      <ul class='queue-list'></ul>
    </div>
  <% end %>
  <%= render 'home/search_container' %>



  </div>
</div>

