<div class='container'>

  <span><%= @party.password %></span>

  <% if current_user && @party.user_id == current_user.id %>
    <%= render 'home/player' %>
    <% else %>
    <div class='queue-container'>
      <ul class='queue-list'></ul>
    </div>
  <% end %>
  <div class='top-queue-container'>
      <ul class='top-queue-list'></ul>
  </div>
  <%= render 'home/search_container' %>


<!--    -->

<!--   <div class='search-container'>
    <input class='search-input-term'>
    <button class='search-submit'></button>
    <table class='results-table'></table>
  </div> -->
  </div>
</div>

