<div class='container'>

  <%= @party.password %>

  <% if @party.user == current_user %>
  <%= render 'bottom_player' %>
  <% end %>

  <div class='queue-container'>
    <table class='queue-table'></table>
  </div>

  <div class='search-container'>
    <input class='search-input-term'>
    <button class='search-submit'></button>
    <table class='results-table'></table>
  </div>
</div>

