<div class='container'>

  <div class="party-name">
    <p><%= @party.password %><p>
  </div>

  <%= render 'home/search_container' %>
  <% if current_user && @party.user_id == current_user.id %>
    <%= render 'home/player' %>

  <% end %>



  </div>
</div>

