
<!DOCTYPE HTML>
<html>
<head>
  <title>jquery.rdio test</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
  <script src="javascript/jquery.rdio.js"></script>
  <script src="javascript/player.js"></script>
  <script src="javascript/token.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>

  <body>


    <h1>Rdio Playback API simple example</h1>
    <div id="apiswf"></div>
    <dl>
      <dt>playState</dt>
      <dd id="playState"></dd>

      <dt>track</dt>
      <dd id="track"></dd>
      <dt>album</dt>
      <dd id="album"></dd>
      <dt>artist</dt>
      <dd id="artist"></dd>
      <dt>art</dt>
      <dd><img src="" id="art"></dd>
      <dt>position</dt>
      <dd id="position"></dd>
    </dl>

    <input id="play_key" value="a997982"><button id="play">Play</button><br>
    <button id="stop">Stop</button>
    <button id="pause">Pause</button>
    <button id="previous">Previous</button>
    <button id="next">Next</button>

    <div id="freq">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>

    <form method="post" action="/query">
      <input type="text" name="song_name">
      <input type="submit" value="Submit">
    </form>


  </body>
  </html>
