

<div class="player", id="player">
  <div id="rdio-player"></div>

  <!-- when expanded -->
  <div class="current-track-info">
    <div class="single-track expanded">

          <img src="http://rdio-d.cdn3.rdio.com/album/3/8/0/000000000009f083/square-400.jpg" class="front-page-art">
          <div>
            <span>Album Name </span>
            <span>Artist Name</span>
          </div>
    </div>
    <div class='queue-container '>
        <p>es ist das queue container</p>

      <table class='queue-list'></table>
    </div>
  </div>

  <!-- player controls  -->
    <div id="controls">
      <i class="icon-pause icon-large" id="pause"></i>
      <i class="icon-play icon-large" id="play"></i>
      <i class="icon-forward icon-large" id="next"></i>
    </div>

    <div id="player-center">
      <div id="song-info">
        <span id="track"> Song </span> -- <span id="artist"> Artist</span>
      </div>
      <div >
        <span id="position"> Position yo! </span>
      </div>
    </div>
    <div id="album-art-container">
      <%= image_tag("http://rdio-b.cdn3.rdio.com/album/8/2/5/0000000000019528/2/square-200.jpg", id: 'art') %>
    </div>


</div>

<div class="player background", id="player-background">
</div>
