<div class='pure-g-r'>
  <div class="search-container pure-g-r">
    <form class='search-form'>
        <input class='search-input-term'>
        <button class='pure-button search-submit' >Search</button>
    </form>
    <div class='results-container'></div>
  </div>
</div>