<div class='pure-g-r'>





  <div class='search-container'>
      <input class='search-input-term'>
      <button class='search-submit' >Search</button>
  </div>

    <div class="pure-u-1-8 single-track">
        <img src="http://rdio-b.cdn3.rdio.com/album/8/2/5/0000000000019528/2/square-200.jpg" class="front-page-art">
        <div>
          <span>Track Name</span>
          <span>Artist Name</span>
          <span>Album Name</span>
        </div>
    </div>
        <div class="pure-u-1-8 single-track">
        <img src="http://rdio-b.cdn3.rdio.com/album/8/2/5/0000000000019528/2/square-200.jpg" class="front-page-art">
        <div>
          <span>Track Name</span>
          <span>Artist Name</span>
          <span>Album Name</span>
        </div>
    </div>
        <div class="pure-u-1-8 single-track">
        <img src="http://rdio-b.cdn3.rdio.com/album/8/2/5/0000000000019528/2/square-200.jpg" class="front-page-art">
        <div>
          <span>Track Name</span>
          <span>Artist Name</span>
          <span>Album Name</span>
        </div>
    </div>
        <div class="pure-u-1-8 single-track">
        <img src="http://rdio-b.cdn3.rdio.com/album/8/2/5/0000000000019528/2/square-200.jpg" class="front-page-art">
        <div>
          <span>Track Name</span>
          <span>Artist Name</span>
          <span>Album Name</span>
        </div>
    </div>
        <div class="pure-u-1-8 single-track">
        <img src="http://rdio-b.cdn3.rdio.com/album/8/2/5/0000000000019528/2/square-200.jpg" class="front-page-art">
        <div>
          <span>Track Name</span>
          <span>Artist Name</span>
          <span>Album Name</span>
        </div>
    </div>
        <div class="pure-u-1-8 single-track">
        <img src="http://rdio-b.cdn3.rdio.com/album/8/2/5/0000000000019528/2/square-200.jpg" class="front-page-art">
        <div>
          <span>Track Name</span>
          <span>Artist Name</span>
          <span>Album Name</span>
        </div>
    </div>
        <div class="pure-u-1-8 single-track">
        <img src="http://rdio-b.cdn3.rdio.com/album/8/2/5/0000000000019528/2/square-200.jpg" class="front-page-art">
        <div>
          <span>Track Name</span>
          <span>Artist Name</span>
          <span>Album Name</span>
        </div>
    </div>

    <div class="pure-u-1-8 single-track">
        <img src="http://rdio-b.cdn3.rdio.com/album/8/2/5/0000000000019528/2/square-200.jpg" class="front-page-art">
        <div>
          <span>Track Name</span>
          <span>Artist Name</span>
          <span>Album Name</span>
        </div>
    </div>
        <div class="pure-u-1-8 single-track">
        <img src="http://rdio-b.cdn3.rdio.com/album/8/2/5/0000000000019528/2/square-200.jpg" class="front-page-art">
        <div>
          <span>Track Name</span>
          <span>Artist Name</span>
          <span>Album Name</span>
        </div>
    </div>
        <div class="pure-u-1-8 single-track">
        <img src="http://rdio-b.cdn3.rdio.com/album/8/2/5/0000000000019528/2/square-200.jpg" class="front-page-art">
        <div>
          <span>Track Name</span>
          <span>Artist Name</span>
          <span>Album Name</span>
        </div>
    </div>
        <div class="pure-u-1-8 single-track">
        <img src="http://rdio-b.cdn3.rdio.com/album/8/2/5/0000000000019528/2/square-200.jpg" class="front-page-art">
        <div>
          <span>Track Name</span>
          <span>Artist Name</span>
          <span>Album Name</span>
        </div>
    </div>
        <div class="pure-u-1-8 single-track">
        <img src="http://rdio-b.cdn3.rdio.com/album/8/2/5/0000000000019528/2/square-200.jpg" class="front-page-art">
        <div>
          <span>Track Name</span>
          <span>Artist Name</span>
          <span>Album Name</span>
        </div>
    </div>
        <div class="pure-u-1-8 single-track">
        <img src="http://rdio-b.cdn3.rdio.com/album/8/2/5/0000000000019528/2/square-200.jpg" class="front-page-art">
        <div>
          <span>Track Name</span>
          <span>Artist Name</span>
          <span>Album Name</span>
        </div>
    </div>
        <div class="pure-u-1-8 single-track">
        <img src="http://rdio-b.cdn3.rdio.com/album/8/2/5/0000000000019528/2/square-200.jpg" class="front-page-art">
        <div>
          <span>Track Name</span>
          <span>Artist Name</span>
          <span>Album Name</span>
        </div>
    </div>

    <div class="pure-u-1-8 single-track">
        <img src="http://rdio-b.cdn3.rdio.com/album/8/2/5/0000000000019528/2/square-200.jpg" class="front-page-art">
        <div>
          <span>Track Name</span>
          <span>Artist Name</span>
          <span>Album Name</span>
        </div>
    </div>
        <div class="pure-u-1-8 single-track">
        <img src="http://rdio-b.cdn3.rdio.com/album/8/2/5/0000000000019528/2/square-200.jpg" class="front-page-art">
        <div>
          <span>Track Name</span>
          <span>Artist Name</span>
          <span>Album Name</span>
        </div>
    </div>
        <div class="pure-u-1-8 single-track">
        <img src="http://rdio-b.cdn3.rdio.com/album/8/2/5/0000000000019528/2/square-200.jpg" class="front-page-art">
        <div>
          <span>Track Name</span>
          <span>Artist Name</span>
          <span>Album Name</span>
        </div>
    </div>
        <div class="pure-u-1-8 single-track">
        <img src="http://rdio-b.cdn3.rdio.com/album/8/2/5/0000000000019528/2/square-200.jpg" class="front-page-art">
        <div>
          <span>Track Name</span>
          <span>Artist Name</span>
          <span>Album Name</span>
        </div>
    </div>
        <div class="pure-u-1-8 single-track">
        <img src="http://rdio-b.cdn3.rdio.com/album/8/2/5/0000000000019528/2/square-200.jpg" class="front-page-art">
        <div>
          <span>Track Name</span>
          <span>Artist Name</span>
          <span>Album Name</span>
        </div>
    </div>
        <div class="pure-u-1-8 single-track">
        <img src="http://rdio-b.cdn3.rdio.com/album/8/2/5/0000000000019528/2/square-200.jpg" class="front-page-art">
        <div>
          <span>Track Name</span>
          <span>Artist Name</span>
          <span>Album Name</span>
        </div>
    </div>
        <div class="pure-u-1-8 single-track">
        <img src="http://rdio-b.cdn3.rdio.com/album/8/2/5/0000000000019528/2/square-200.jpg" class="front-page-art">
        <div>
          <span>Track Name</span>
          <span>Artist Name</span>
          <span>Album Name</span>
        </div>
    </div>

    <table class='results-table'></table>
  </div>
</div>