<div class='pure-g-r'>

    <!-- main queue placeholder -->
<!--     <div class='queue-container main'>
      <ul class='queue-track-info top-list'></ul>
      <ul class="queue-track-info">
        <% 5.times do %>
             <li>

              <span> 8 </span>
              <img src="http://rdio-b.cdn3.rdio.com/album/8/2/5/0000000000019528/2/square-200.jpg" class="front-page-art">
              <div class ="queue-span-wrapper">Track Name</div>
              <div class ="queue-span-wrapper">Artist Name</div>
              <div class ="queue-span-wrapper icon"><i class="icon-thumbs-up icon-large"></i></div>
            </li>
          <hr></hr>
        <% end %>
      </ul>
    </div> -->


    <!-- main queue  -->
   <div class='queue-container main'>
      <ul class='queue-track-info queue-list'></ul>
   </div>

  <!-- search results  -->
  <div class="search-container pure-g-r">
    <form class='search-form'>
        <input class='search-input-term' placeholder="Search for a song">
        <button class='pure-button search-submit' >Search</button>
    </form>

    <div class='results-container'></div>
  </div>


</div>