<div class='pure-g-r'>

   <div class='queue-container main'>

      <ul class="queue-track-info">
        <% 10.times do %>
             <li>
              <span> 8 </span>
              <img src="http://rdio-b.cdn3.rdio.com/album/8/2/5/0000000000019528/2/square-200.jpg" class="front-page-art">
              <span>Track Name</span>
              <span>Biggie Smalls   Biggie Smalls   Biggie Smalls</span>
              <i class="icon-thumbs-up icon-large"></i>
            </li>
          <hr class="queue-border"></hr>
        <% end %>
      </ul>

        <table class='queue-table'></table>
   </div>


  <div class="search-container pure-g-r">
    <form class='search-form'>
        <input class='search-input-term'>
        <button class='pure-button search-submit' >Search</button>
    </form>
    <% 40.times do %>
      <div class="pure-u-1-8 single-track">
          <img src="http://rdio-b.cdn3.rdio.com/album/8/2/5/0000000000019528/2/square-200.jpg" class="front-page-art">
          <div>
            <span>Album Name </span>
            <span>Track Name</span>
            <span>Artist Name<i class="icon-plus-sign icon-2x"></i></span>

          </div>
      </div>
    <% end %>
      <div class='results-container'></div>
  </div>


</div>