<div class='pure-g-r'>

  <div class="search-container pure-g-r">
    <form class='search-form'>
        <input class='search-input-term'>
        <button class='search-submit' >Search</button>
    </form>
    <% 40.times do %>
      <div class="pure-u-1-8 single-track">
          <img src="http://rdio-b.cdn3.rdio.com/album/8/2/5/0000000000019528/2/square-200.jpg" class="front-page-art">
            <span>Album Name </span>
          <div>
            <span>Track Name</span>
            <span>Artist Name<i class="icon-thumbs-up icon-2x"></i></span>

          </div>
      </div>
    <% end %>
      <table class='results-table'></table>
    </div>
  </div>
</div>