<div class='pure-g-r'>


    <!-- main queue  -->
   <div class='queue-container main'>
      <ul class='queue-track-info queue-list'></ul>
   </div>

  <!-- search results  -->
  <div class="search-container pure-g-r">
    <form class='search-form'>
        <input class='search-input-term'>
        <button class='pure-button search-submit' >Search</button>
    </form>

    <div class='results-container'></div>
  </div>


</div>