<div class="landing-page-logo-container">
  <img src="<%= asset_path('qd-home-logo.png') %>">
  <p> Crowdsource your party playlist </p>
</div>
<div class="container">
  <div class="home-buttons-container">
    <% if current_user %>
      <%= link_to 'Host Party', new_party_path, method: 'get', class: "pure-button button-large" %>
    <% else %>
      <%= link_to 'Sign-In with rdio', '/auth/rdio', class: "pure-button button-large" %>
    <% end %>
    <%= link_to 'Join a party', party_join_path, class: "pure-button button-large" %>
  </div>
</div>
