<div class='container'>
  <div class='queue-container'>
    <table class='queue-table' class="table table-bordered"></table>
  </div>

  <div class='search-container'>


      <input type='text' class='search-input-term' placeholder='Search' />
      <button type='submit' class='search-submit btn'>Search</button>




    <table class='results-table table table-bordered'>
      <tr class="result-row">
        <td class="result-song">Who Let The Dogs Out</td>
        <td class="result-artist">Baha Men</td>
        <td class="result-album">Who Let The Dogs Out</td>
        <td class="result-duration">198</td>
        <td class="result-add">
          <button class="add-to-queue-submit btn" disabled="">+</button>
        </td>
      </tr>
      <tr class="result-row">
        <td class="result-song">Impossible Soul</td>
        <td class="result-artist">Sufjan Stevens</td>
        <td class="result-album">The Age of Adz</td>
        <td class="result-duration">1535</td>
        <td class="result-add">
          <button class="add-to-queue-submit btn" disabled="">+</button>
        </td>
      </tr>
      <tr class="result-row">
        <td class="result-song">Thinkin Bout You</td>
        <td class="result-artist">Frank Ocean</td>
        <td class="result-album">channel ORANGE</td>
        <td class="result-duration">263</td>
        <td class="result-add">
          <button class="add-to-queue-submit btn" disabled="">+</button>
        </td>
      </tr>
    </table>
  </div>
</div>