<% if current_user %>
	<h2>Name and Create Your Party</h2>
	<%#= form_for @party do |f| %>
	<%#= f.text_field :password %>
	<%#= f.submit 'Create Party!' %>
	<%# end %>
	<%= button_to 'Create Party!', parties_path %>
<% else %>
	<%= button_to 'Sign In', '/auth/rdio' %>
<% end %>
<%= link_to 'Join a party', party_join_path %>
