<div class='container'>
  <div class='queue-container'>
    <table class='queue-table' class="table table-bordered"></table>
  </div>

  <div class='search-container'>
    <input class='search-input-term'>
    <button class='search-submit'></button>
    <table class='results-table table table-bordered'>
      <tr class="result-row">
        <td class="result-song">Who Let The Dogs Out</td>
        <td class="result-artist">Baha Men</td>
        <td class="result-album">Who Let The Dogs Out</td>
        <td class="result-duration">198</td>
        <td class="result-add">
          <button class="add-to-queue-submit" disabled="">+</button>
        </td>
      </tr>
      <tr class="result-row">
        <td class="result-song">Who Let The Dogs Out</td>
        <td class="result-artist">Baha Men</td>
        <td class="result-album">Who Let The Dogs Out</td>
        <td class="result-duration">198</td>
        <td class="result-add">
          <button class="add-to-queue-submit" disabled="">+</button>
        </td>
      </tr>
      <tr class="result-row">
        <td class="result-song">Who Let The Dogs Out</td>
        <td class="result-artist">Baha Men</td>
        <td class="result-album">Who Let The Dogs Out</td>
        <td class="result-duration">198</td>
        <td class="result-add">
          <button class="add-to-queue-submit" disabled="">+</button>
        </td>
      </tr>
      </table>
    </div>
  </div>