html * {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: lighter;
  font-size: .99em;
  letter-spacing: 0;
}

body {
  color: #CCD9DA;
  background-color: #e0e0e0;
}

/*lading page background */

.landing-page-background {
  background-image: url('/assets/landing_page_blue2.jpg'); 
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}


.container {
  margin-top: 8em
}
.container.fixed {
  position: fixed;
}

.main {
  text-align: center;
  font-size: 2em;
  margin-top: 4em;
}

#navbar {
  width: 100%;
  height: 4em;
  line-height: 2.5em;
  z-index: 5;
  background-color: #2c3e50;
  border-width: 0;

}


#logo{
  position: absolute;
  margin-top: -0.3em;
  left: 1em;
  max-width: 11em;
  max-height: 3.7em;
}

 /*logout and picture container*/
.pure-menu ul {
  float: right;
  margin-top: -2.5em;

}
.pure-menu li {
  line-height: 3em;
}

#profile-image {
  height: 3em;
  border-radius: 50%;

}

#logout-button {
  color: #95a5a6;
  margin-bottom: 1em;
  height: 1.5em;
  margin-left: .5em;
  margin-right: 1em;
  background-color: #222D38;
}

#logout-button:hover {
  background-color: #23313F;
}

.player{
  position: fixed;
  height: 5.5em;
  bottom: 0%;
  /*background-image: url("http://rdio-b.cdn3.rdio.com/album/8/2/5/0000000000019528/2/square-200.jpg");*/
  background: rgba(0, 0, 0, .7);
  color: #CCD9DA;
  display: block;
  width: 100%;
  z-index: 4;
  /*background-size: cover;*/
  /*-webkit-filter: blur(2.5px);*/
}

.player.background{

  overflow: hidden;
  height: 5.75em;
  background-image: url("http://rdio-b.cdn3.rdio.com/album/3/8/0/000000000009f083/square-200.jpg");
  z-index: 1;
  background-size: cover;
  /*filter: blur(5px);*/
  -webkit-filter: blur(4px);
  /*-moz-filter: blur(5px);*/
  border: 1px solid black;

  margin: 10px -1px -5px 0;
}

.player.expanded {
  height: 92.8%;
}

.player.background.expanded {
  height: 92.8%;
}

/*player expanded*/

.player-expanded-view {
  display: none;
  margin: .5em;
}

.player-expanded-view div {
  display: inline-block;
  /*width: 40%;*/
}

#controls{
  display: inline-block;
  width: 20%;
  text-align: center;
  height: 100%;
}

#controls i:hover {
  color: #F5F8F8;
}

#controls i.selected {
  color: #F3F3F3;
}

#pause {
  position: fixed;
  left: 2em;
  bottom: 2em;

}

#play {
  position: fixed;
  left: 7em;
  bottom: 2em;

}
#next {
  position: fixed;
  left: 12em;
  bottom: 2em;

}

#player-center{
  display: inline-block;
  position: fixed;
  height: 100%;
  width: 60%;
  text-align: center;

}

#song-info{
  position: fixed;
  bottom: 3em;
  left: 38%;
  right: 30%;
  letter-spacing: 0;
}

#position {
  position: fixed;
  bottom: 1em;
  right: 30%;
  left: 38%;
  letter-spacing: 0;


}
#album-art-container{
  display: inline-block;
  float: right;
  height: 100%;
  width: 20%;
  text-align: center;
}

#art {
  width: 2em;
  position: fixed;
  bottom: 1.7em;
  right: 2em;
}




/*Search container */
.search-container {
  width: 100%;

}

.pure-g-r {
  z-index: 0;
  margin-bottom: 7em;
}
.search-form {
  width: 100%;
  padding: 1em 1em;
  text-align: center;
  margin-bottom: 2em;

}

.search-input-term {
  width: 35em;
  height: 2em;
  margin-right: .8em;
  margin-top: 2em;
  border-width: 0;
  background-color: rgb(241, 241, 241);
}
.search-submit {
  height: 2em;
  line-height: .6em;
  background-color: #D5D5D8;

}

.album-art-container {
  position: relative;
}

.front-page-art:hover {

}

.overlay {
  z-index: 100;
  position: absolute;
  opacity:0;
  width:100%;
  height:100%;
}

.overlay:hover, .overlay:focus {
  opacity: 1;
  /*z-index: 100;*/
}

.overlay.selected {
  opacity: 1;
}
/*.front-page-art:hover .overlay{
  z-index: 100;
}


*//*song block*/

.single-track {
  padding: .6em 0 .6em 1em;
}

.single-track.expanded {
  padding: 0;
  margin: 1em;
  width: 40%;
  text-align: center;
}

.single-track.expanded img {
  width: 80%;
}

.image {
  background: url('http://cdn1.iconfinder.com/data/icons/round-simple-social-icons/58/facebook.png');
  width: 58px;
  height: 58px;
  position:relative;
}
.image:hover > .overlay {
  width:100%;
  height:100%;
  position:absolute;
  background-color:#000;
  opacity:0.5;
  border-radius:30px;
}

.single-track.expanded div {
  display: block;
  text-align: center;
}

.single-track.expanded span {
  color: #CCD9DA;
}

.single-track span {
  font-size: .85em;
  display: block;
  padding-top: .1em;
  color: #333338;
  /*text-align: center;*/
}

.single-track span:nth-child(2), span:nth-child(3) {
  color: rgb(128, 128, 128);
  font-weight: lighter;
  font-size: .763em;
}

.pure-g-r img {
  max-width: 75%;

}


.pure-g-r img.disabled {
  opacity: 0.5;
}






/*icons*/


.icon-plus {
  margin-left: 1.5em;
}

.icon-plus.selected {
  color: #2c3e50;
}
.icon-plus:hover {
  color: #2c3e50;
}


.icon-thumbs-up {
  color: rgb(156, 156, 156);
  cursor: pointer;
}

.icon-thumbs-up:hover, .icon-thumbs-up:focus {
  color: #2c3e50;
  cursor: pointer;
}

.icon-thumbs-up.selected {
  color: #2c3e50;
}



/*toggle switch*/


.toggle-switch {
  margin-top: .2em !important;
  margin-left: 45%;

}

.switch-candy a {
  background-color: #c0392b;
  outline: none;
}


.switch-candy span {
  color: #CCD9DA;
}

.switch-light {
  cursor: pointer;
  margin: 0;
  width: 12em;
}


/*queue container */

.queue-container {
  float: right;
  letter-spacing: 0;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  display: none;
  font-size: inherit;
}

.queue-track-info {
  display: inline-block;
  width: 40em;
  padding-top: .3em;
  list-style: none;

/*  border-color: #666 transparent #000 transparent;
  border-width: 1px 0px;
  border-style: solid;*/
}
.queue-container.main {
  display: none;
  color: rgb(107, 101, 101);
}


.queue-track-info span {
  margin: 2em;
}

.queue-track-info img {
  max-height: 3.5em;
}

.queue-top-list {
  font-size: .85em;
}




hr {
  border-width: 1px 0px;
  border-color: #666 transparent #474747 transparent;
}
.queue-border {
  border-width: 1px 0px;
  border-color: #FFF transparent #FFF transparent;

}




.party-name {
  text-align: center;
  margin: 2em 0 1em 0;
  color: #707077;
}

.party-name p {
  font-size: 2em;
}


.queue-span-wrapper {
  display: inline-block;
  width: 13em;
  margin-left: 1em;
  text-align: left;
}

.queue-span-wrapper.icon {
  width: 1em;

}


/*landing page */

.home-buttons-container {
  margin: 0 auto;
  margin-top: 5%;
  text-align: center;
  padding: 20px;
  width: 100%;
  padding: 0;
}



.button-large {
  margin-left: 1em;
  margin-top: 1em;
  display: inline-block;
  font-size: 1.4em;
  width: 8em;
  background-color: #192C3F;
  color: #bdc3c7;
}


.landing-page-logo-container {
  text-align: center;
  margin-top: 10em;
  font-size: 1.1em;
  color: #bdc3c7;


}

.landing-page-logo-container img {
  width: 25%;
}


#party-list-container {
  text-align: center;
}

#old-parties-list {
  width: 30em;
  margin: 0 auto;
  text-align: left;
  font-size: 1.5em;
  padding-top: 10px;
}

#old-parties {
  font-size: 2em;
}


/*line*/
#line-separator {
  height: 2%;
  width: 85%;
  margin: 0 auto;
  display: block;
  margin-top: 3%;
  position: relative;
}

#spanne-separator-left {
  background: #c0392b;
  height: 2px;
  width: 45%;
  position: absolute;
  left: 0;
  top: 50%;
}

#spanne-separator-right {
  background-color: #c0392b;
  height: 2px;
  width: 45%;
  position: absolute;
  right: 0;
  top: 50%;
}


















@media screen and (max-width: 850px) {

  html {
    margin: 0;
  }
  body {
    margin: 0 auto;
    padding: 0 auto;
  }

  /*container*/
  .container {
    width: 100%;
    margin: 0 auto;
    margin-top: 10em;
  }
  #logo {
    float: left;
    width: 20%;
    margin-left: -0.8em;
    margin-top: .3em;
  }

  .toggle-switch {
    margin-top: .3em !important;
    float: right;
    width: 60%;

  }
  #profile-image, #logout-button {
    display: none;
  }

  /*search*/

  .search-form {
    margin: 0 auto;
    width: 100%;
  }

  .search-form input {
    margin: 0 auto;
    width: 60%;
  }


  /*main search results*/
  .single-track {
    margin: 0 auto;
  }

  .album-art-container {
    text-align: center;
  }

  .result-song-details {
    text-align: center;
  }

  .overlay {
    /*display: none;*/
    background-colo: rgba(0,0,0,0.6);
  }

  /*main queue*/

  .queue-container.main {
    margin: 0 auto;
    width: 100%;
  }

  .queue-container.main ul {
    padding: 0;
    width: 90%;
    font-size: .77em;
  }


  .queue-vote-count {
/*    margin-right: 5% !important;
*/display: none !important;
}

.queue-track-info {
  margin: 0 auto;
  width: 80%;
}


.queue-span-wrapper {
  width: 30%;
}
/*player */
/*
.player {
  height: 3.5em;
}

#player-background {
  height: 3.7em;
}
*/

#controls {
  display: none;
}

#player-center {
  text-align: left;
  float: left;
  position: static
}

#song-info {
  position: static;
}

.icon-thumbs-up {
  font-size: 2em;
}
/*


   .queue-item {
    position: relative;
  }

  .queue-track-info .queue-item img {
    max-height: 5em;
    max-width: 100%;
    margin-bottom: 2em;
    position: absolute;
    left: 10%;
  }


  /*.queue-span-wrapper {

    position: absolute;
    left: 0;
    top: 25%;
    }*/

 /* .queue-span-wrapper, .icon, .queue-upvote {
    position: absolute;
    right: 0;
    top: 25%;
    }*/


  }