html * {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: lighter;
  font-size: .99em;
}

body {
  background-color: #ecf0f1;
}
#navbar {
  position: relative;
  height: 4em;
  line-height: 2.5em;
  z-index: 5;
  background-color: #2c3e50;
  border-width: 0;

}


#logo{
  height: 100%;
  line-height: 3em;
}

.pure-menu ul {
  float: right;
  /*margin-top: .2em;*/
  line-height: 4.5em;

}

.pure-menu li {
  line-height: 3em;
}


#profile-image {
  height: 3em;
  border-radius: 50%;

}

#logout-button {
  margin-bottom: 1em;
  height: 1.5em;
  margin-left: .5em;
  margin-right: 1em;
}

.player{
  position: fixed;
  height: 5.5em;
  bottom: 0%;
  /*background-image: url("http://rdio-b.cdn3.rdio.com/album/8/2/5/0000000000019528/2/square-200.jpg");*/
  background: rgba(0, 0, 0, .7);
  color: white;
  display: block;
  width: 100%;
  z-index: 4;
  /*background-size: cover;*/
  /*-webkit-filter: blur(2.5px);*/
}

.player.background{

  overflow: hidden;
  height: 5.75em;
  background-image: url("http://rdio-b.cdn3.rdio.com/album/3/8/0/000000000009f083/square-200.jpg");
  z-index: 1;
  background-size: cover;
  /*filter: blur(5px);*/
  -webkit-filter: blur(4px);
  /*-moz-filter: blur(5px);*/
  border: 1px solid black;

   margin: 10px -1px -5px 0;
}

.player.expanded {
  height: 92.8%;
}

.player.background.expanded {
  height: 92.8%;
}

/*player expanded*/

.current-track-info {
  display: none;
  margin: .5em;
}

.current-track-info div {
  display: inline-block;
  /*width: 40%;*/
}

#controls{
  display: inline-block;
  width: 20%;
  text-align: center;
  height: 100%;
}

#pause {
  position: fixed;
  left: 2em;
  bottom: 2em;

}

#play {
  position: fixed;
  left: 7em;
  bottom: 2em;

}
#next {
  position: fixed;
  left: 12em;
  bottom: 2em;

}

#player-center{
  display: inline-block;
  position: fixed;
  height: 100%;
  width: 60%;
  text-align: center;

}

#song-info{
  position: fixed;
  bottom: 3em;
  left: 38%;
  right: 30%;
  letter-spacing: 0;
}

#position {
  position: fixed;
  bottom: 1em;
  right: 30%;
  left: 38%;
  letter-spacing: 0;


}
#album-art-container{
  display: inline-block;
  float: right;
  height: 100%;
  width: 20%;
  text-align: center;
}

#art {
  width: 2em;
  position: fixed;
  bottom: 1.7em;
  right: 2em;
}




/*Search container */
.search-container {
  width: 100%;

}

.pure-g-r {
  z-index: 0;
}
.search-form {
  width: 100%;
  padding: 1em 1em;
  text-align: center;

}

.search-input-term {
  width: 35em;
  margin-right: .8em;
  margin-top: 2em;
}
.search-submit {
  height: 1.6em;
  line-height: .6em
}

/*song block*/

.single-track {
  padding: .6em 0 .6em 1em;

}

.single-track.expanded {
  padding: 0;
  margin: 1em;
  width: 40%;
  text-align: center;
}

.single-track.expanded img {
  width: 80%;
}

.single-track.expanded div {
  display: block;
  text-align: center;
}

.single-track span {
  font-size: .763em;
  display: block;
  padding-top: .1em;
  /*text-align: center;*/
}

.single-track span:nth-child(2), span:nth-child(3) {
  color: rgb(128, 128, 128);
  font-weight: lighter;
}

.pure-g-r img {
  max-width: 95%;
}

.pure-g-r img.disabled {
  opacity: 0.5;
}

.icon-plus-sign {
  margin-left: 1.5em;
}

.icon-plus-sign.selected {
  color: #27ae60;
}
.icon-plus-sign:hover {
  color: #27ae60;
}

/*toggle switch*/

.toggle-switch {
  letter-spacing: 0;
  margin: 0;
  display: inline-block;
}

.switch-light {
  margin: 0;
  width: 12em;
}

/*queue container */

.queue-container {
  float: right;
  letter-spacing: 0;
  width: 50%;
  margin-left: 1em;
  /*display: none;*/
}