<!DOCTYPE html>
<html>
<head>
  <title>Qd</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <script type='text/javascript' src='https://cdn.firebase.com/v0/firebase.js'></script>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>
</head>
<body>


  <%= yield %>

</body>
</html>
