<!DOCTYPE html>
<html>
<head>
  <title>Qd</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <script type='text/javascript' src='https://cdn.firebase.com/v0/firebase.js'></script>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>
<ul class="nav nav-pills">
  <li class="active">
    <a href="#">Queue</a>
  </li>

  <li>
    <a href="#">Search</a>
  </li>
</ul>

<%= yield %>

</body>
</html>
